Options +FollowSymLinks
RewriteEngine on

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ $1.php

RewriteRule ^c/(.*)/(.*)$ ./contenidos.php?id=$2
RewriteRule ^landing/(.*)/(.*)$ ./landing.php?cod=$2
RewriteRule ^blog/(.*)/(.*)$ ./blog.php?cod=$2

#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^lasilleria.com.ar [NC]
#RewriteRule ^(.*)$ https://www.lasilleria.com.ar/$1 [L,R=301,NC]

